<div class="container" >
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
          <form class="form-signin" [formGroup]="loginForm">

            <div class="form-group">
              <label for="inputEmail" [ngClass]="{'required': checkField(loginForm.get('username')) }">First Name *</label>
              <input type="text" [ngClass]="{'required': checkField(loginForm.get('username')) }" class="form-control rounded" id="firstName" aria-describedby="emailHelp" placeholder="Enter first name" formControlName="username">
            </div>

            <div class="form-group">
              <label for="inputEmail" [ngClass]="{'required': checkField(loginForm.get('username')) }">Last Name *</label>
              <input type="text" [ngClass]="{'required': checkField(loginForm.get('username')) }" class="form-control rounded" id="lastName" aria-describedby="emailHelp" placeholder="Enter last name" formControlName="username">
            </div>

            <div class="form-group">
              <label for="inputEmail" [ngClass]="{'required': checkField(loginForm.get('username')) }">User Name *</label>
              <input type="text" [ngClass]="{'required': checkField(loginForm.get('username')) }" class="form-control rounded" id="userName" aria-describedby="emailHelp" placeholder="Enter last name" formControlName="username">
            </div>

            <div class="form-group">
                <label for="inputPassword" [ngClass]="{'required': checkField(loginForm.get('password')) }">Password *</label>
                <input type="password" class="form-control rounded" [ngClass]="{'required': checkField(loginForm.get('password')) }" id="inputPassword" aria-describedby="passwordHelp" placeholder="Enter password" formControlName="password">
            </div>

            <div class="form-group">
              <label for="inputEmail" [ngClass]="{'required': checkField(loginForm.get('username')) }">Date of Birth *</label>
              <input type="date" [ngClass]="{'required': checkField(loginForm.get('username')) }" class="form-control rounded" id="dob" aria-describedby="emailHelp" placeholder="Enter date of birth" formControlName="username">
            </div>

            <div class="form-group">
              <label for="inputEmail" [ngClass]="{'required': checkField(loginForm.get('username')) }">Country</label>
              <input type="text" [ngClass]="{'required': checkField(loginForm.get('username')) }" class="form-control rounded" id="country" aria-describedby="emailHelp" placeholder="Enter country name" formControlName="username">
            </div>

            <p class="alert alert-danger" role="alert" *ngIf="error">
              <strong>There was an error!</strong><br>Please check your username/password and try again.
            </p>

            <button id="submitButton" class="btn btn-lg btn-primary btn-block text-uppercase" type="button" [disabled]="!loginForm.valid || processing" (click)="onSubmitButtonClicked()">Sign Up</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>